/* basic styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /* remove bullet points from list */
    text-decoration: none; /* remove underline for links */
}

/* styles for elements in the body */
body {
    font-family: "Lemon", serif; /* set default font family */
    font-weight: 400; /* set default font weight */
}

/* style for all imges */
img {
    max-width: 100%;
}

/* container for centering and setting maximum width */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; /* center the container */
}

/* style for the navigation side bar */
#navigation {
    box-shadow: -10px 20px 5px #ff71b673;
    border-radius: 0 0 0 20px;
    width: 300px;
    height: 430px;
    position: fixed; /* fix the position on the screen */
    right: -300px;
    top: 0; /* align to the top of the page */
    background: #fff;
    z-index: 2;
    transition: 0.4s; /* smooth transition for sliding in and out */
}

/* styling for each list item in the navigation menu */
nav ul li {
    margin: 50px 30px; /* spacing around list items */
}

/* styling for links in the navigation menu */
nav ul li a {
    font-size: 32px;
    color: #FF71B5;
}

/* hover effect for navgation menu */
nav ul li a:hover {
    border-bottom: 5px solid #ABF9AE; /* adds a border bottom */
    border-bottom-left-radius: 2px; /* round the border ends */
    border-bottom-right-radius: 2px;
}

/* id of menu icon image */
#menuicon {
    position: fixed; /* fix the position on the screen */
    width: 35px;
    right: 60px;
    top: 20px;
    z-index: 2; /* layer above other content */
    cursor: pointer; /* show hand coursor */
}

/* id of close icon image */
#closeicon {
    position: fixed; /* fix the position on the screen */
    width: 35px;
    right: 60px;
    top: 20px;
    z-index: 2; /* layer above other content */
    cursor: pointer;
    display: none; /* hidden by default */
}

/* header styling for centering content */
header {
    display: flex; /* flexbox layout */
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
}

.hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    display: flex; /* flexbox layout */
    align-items: center;
    justify-content: center; /* center items horizontally */
}

.hero-info video {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%; /* centeres vertically */
    left: 50%; /* centeres horizontally */
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    z-index: 1; /* puts button above the video*/
}

.text1 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.btn-custom-rounded {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFBBDC;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
    margin-top: -180px;
    z-index: 2; /* puts button above the video*/
    position: relative; /* allows positioning of elements within it */
}

.btn-custom-rounded:hover {
    background-color: #ffffff;
}


/* default style for the tasty section */
.tasty {
    margin: 50px auto;
    padding: 40px 40px;
    max-width: 1200px;
}

.content {
    display: flex; /* flexbox layout */
    align-items: center;
    gap: 20px; /* gap between text and image */
}

.text {
    width: 50%; /* set width of the text */
    color: #504141;
}

/* main title style in tasty section */
.tasty h1 {
    font-size: 70px;
    padding-bottom: 20px; /* space below title */
}

/* paragraph styling in tasty section */
.tasty p {
    font-family: "Lemonada", cursive;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.dough-making {
    width: 50%;
    max-width: 550px;
    border: 2px solid #ff71b5;
    border-radius: 8px;
    margin-top: -15px;  /* add space below image */

}

.images {
    padding-top: 30px; /* space above images */
    display: flex; /* flexbox layout */
    justify-content: space-between; /* make space between items */
    gap: 40px; /* gap between images */
}

.images img {
    width: calc(50% - 10px); /* Две картинки по 50% с учетом отступа */
    max-width: 650px;
    border: 2px solid #ff71b5;
    border-radius: 8px;
}

.sellers {
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
    font-family: "Lemonada", cursive;
    text-align: center; /* centeres the text */
    width: 80%;
    margin: 0 auto; 
    color: #504141;
}

/* main title style of the sellers section */
.sellers h1 {
    font-size: 64px;
    font-family: "Lemon", serif;
    text-align: left;
    width: 30%;
}

/* try-them image positioning */
.try-them img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* arrow && order now */
.wrapper {
    margin-right: 45px; /* add space on the right */
    display: flex; /* flexbox layout */
    justify-content: right;

}

.item {
    margin-bottom: 40px; /* add space on the bottom of the item */
    position: relative; /* allows positioning of elements within it */
}

button {
    font-size: 24px;
    font-weight: 600;
    font-family: "Lemon", serif;
    border: 1px solid #fff;
    background: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 40px; /* round the corners of the border */
    color: #FF71B5;
    transition: background 0.5s ease;
}
/* hover effect for the button */
button:hover {
    background: #FF71B5;
    color: #fff;
}

/* hover effect for the arrow */
button:hover i {
    color: #fff;
}

/* arrow */
i {
    color: #FF71B5;
    margin-left: 20px; /* add space on the left */
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite; /* apply slide1 animation */
    margin-left: 9px; /* add space on the left */
}

/* aefine an animation called slide1 */
@keyframes slide1 {

    /* 0% and 100%: the starting and ending points of the animation */
    0%,
    100% {
        transform: translate(0, 0); /* no translation */
    }

    /* 50%: the midpoint of the animation */
    50% {
        transform: translate(10px, 0); /* moves the arrow 10px to the right */
    }
}

/* Donut frames */
.sellers .donuts {
    display: flex;  /* flexbox layout */
    flex-wrap: wrap;
    justify-content: space-between; /* make space between items */
    gap: 20px;
}

/* style for each donut frame */
.sellers .donut {
    border: 1px solid #f2a2e8;
    padding: 20px; /* padding inside */
    width: calc(25% - 20px);
    display: flex; /* flexbox layout */
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease; /* animation */
}

/* hover effect for donut frames */
.sellers .donut:hover {
    transform: scale(1.05); /* scale up */
}

/* donut images */
.sellers .donut img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 15px;
}

/* title of the donuts */
.sellers .donut h2 {
    text-align: center;
    margin-top: 10px; /* add space on the top of the text */
    font-size: 24px;
    font-weight: 600;
}

/* text below the title of the donut */
.sellers .donut p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* height space of the lines */
    margin: 8px 0;
}

/* add to cart button and prices */
.price-button {
    display: flex; /* flexbox layout */
    justify-content: space-between; /* make spase between items */
    width: 100%;
    margin-top: 15px; /* add space on the top of the price-button */
}

/* style for the price text */
.price {
    font-size: 20px;
    font-weight: 600;
}

/* add to cart button */
.add-cart {
    font-size: 25px;
    width: 30px;
    height: 30px;
    color: #f2a2e8;
    background-color: transparent;
    border: 1px solid #f2a2e8;
    cursor: pointer;
    transition: all 0.3s ease; /* smooth transition */
    display: flex; /* flexbox layout */
    align-items: center; /* center items vertically */
    justify-content: center; /* center items horizontally */
}

/* hover effect for add to cart frame */
.add-cart:hover {
    background-color: #f2a2e8;
    color: #fff;
}


/* try-them png */
.try-them {
    position: absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%) rotate(-10deg); 
    width: s0px;
    height: auto; 
}


/* main footer */
.footer {
    margin-top: 100px;
    font-family: "Kanit", serif;
    text-align: center; /* centeres text */
    color: #504141;
}

/* the top text of the footer */
.footer-content {
    background-color: #fff;
    display: flex; /* flexbox layout */
    flex-direction: column; /* stack items vertically */
    align-items: center; /* center items vertically */
    width: 100%;
    margin: 0 auto; /* center the container */
}

.footer-content ul {
    margin: 20px;
    display: flex; /* flexbox layout */
    flex-wrap: wrap; /* wrap items to next row */
    justify-content: center; /* center items horizontally */
    gap: 100px; /* space between items */
    padding: 0;
}
.footer-content ul li a {
    color: #504141;
    font-size: 18px;
}
.footer-content ul li a:hover {
    color: #FF71B5; /* changes the color pf the text */
}

/* social app links */
.footer-social {
    margin: 20px;
}
.footer-social a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s;
}
.footer-social a img {
    width: 24px;
    height: 24px;
}
.footer-social a:hover {
    transform: scale(1.1);
}

/* logo and bottom text */
.footer-end {
    height: 230px;
    background-color: #fbbad9;
}
.footer-logo img {
    margin: 10px;
}
.footer-logo p {
    margin: 5px 0;
    font-size: 14px;
}

.map-container {
    text-align: center;
    margin: 20px;

}

#map {
    height: 500px; 
    width: 80%; 
    margin: 0 auto; 
    border: 2px solid #ff71b5;
    border-radius: 8px;
}

.store-locator {
    display: flex;
    justify-content: center; 
    gap: 20px;
    padding-left: 50px; 
}

.map-container {
    flex: 1;
    max-width: 600px;
    margin-left: 20px; 
}

#map {
    width: 100%;
    height: 600px;
    border-radius: 20px;
}

.store-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 500px;
}

.store-info h2 {
    font-size: 32px;
    color: #504141;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.store-info p {
    color: #504141;
    margin-top: 20px;
}

.team .team-member {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 50px;
    height: 100%;
  }
  
  @media (max-width: 468px) {
    .team .team-member {
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  
  .team .team-member .pic {
    overflow: hidden;
    width: 200px;
    border-radius: 50%;
    flex-shrink: 0;
    
  }
  
  .team .team-member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .team-member:hover {
    transform: translateY(-10px);
  }
  
  .team .team-member .member-info {
    padding-left: 30px;
  }
  
  @media (max-width: 468px) {
    .team .team-member .member-info {
      padding: 30px 0 0 0;
      text-align: center;
      color: #504141;
    }
  }
  
  .team .team-member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 35px;
  }
  
  .team .team-member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .team-member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 85%);
    bottom: 0;
    left: 0;
  }
  
  @media (max-width: 468px) {
    .team .team-member span::after {
      left: calc(50% - 25px);
    }
  }
  
  .team .team-member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .team-member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  
  @media (max-width: 468px) {
    .team .team-member .social {
      justify-content: center;
    }
  }
  
  .team .team-member .social a {
    background: color-mix(in srgb, var(--default-color), transparent 94%);
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 36px;
    height: 36px;
  }
  
  .team .team-member .social a i {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .team-member .social a:hover {
    background: var(--accent-color);
  }
  
  .team .team-member .social a:hover i {
    color: var(--contrast-color);
  }
  
  .team .team-member .social a+a {
    margin-left: 8px;
  }
  .team {
    margin-top: 80px; 

}
.section-title {
    margin-top: 0; 
    text-align: center;
    padding: 60px 0;
    background-color: #FFBBDC; 
}

.container.section-title h2 {
    font-size: 40px; 
    color: #333; 
    font-weight: 700;
}
